<div class="container mt-5">
  <!-- Card para mostrar el saldo disponible -->
  <div class="card text-center shadow-sm">
    <div class="card-header bg-primary text-white">
      <h4>Saldo Disponible</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Cartera Digital representante: {{CarteraDigital?.nombreUsuario}}</h5>
      <p class="card-text">
        <strong> Cantidad Disponible: {{CarteraDigital?.cantidadDinero | currency:'Q' }}</strong>
      </p>
    </div>
  </div>

  <div class="container mt-4">
    <h2 class="text-center mb-4">Comprar Anuncio</h2>
    <form [formGroup]="anuncioForm">
      <!-- Selección del tipo de anuncio -->
      <label for="tipoAnuncio" class="font-weight-bold">Tipo de anuncio:</label>
      <select id="tipoAnuncio" class="form-control" formControlName="selectedAnuncio">
        <option *ngFor="let anuncio of precios" [ngValue]="anuncio">
          {{ anuncio.tipoAnuncio }}
        </option>
      </select>

      <!-- Mostrar campo de texto si el anuncio es solo de tipo texto -->
      <div *ngIf="anuncioForm.get('selectedAnuncio')?.value?.tipoAnuncio === 'TEXTO'" class="form-group">
        <label for="textoAnuncio" class="font-weight-bold">Escribe tu anuncio:</label>
        <textarea id="textoAnuncio" class="form-control" formControlName="textoAnuncio"></textarea>
      </div>

      <!-- Mostrar el campo para subir archivo si el anuncio es solo de tipo video -->
      <div *ngIf="anuncioForm.get('selectedAnuncio')?.value?.tipoAnuncio === 'VIDEO'" class="form-group">
        <label for="archivoAnuncio" class="font-weight-bold">Sube tu video:</label>
        <input id="archivoAnuncio" type="file" class="form-control" (change)="onFileSelected($event)" accept="video/*">
      </div>

      <!-- Mostrar tanto el campo de texto como el campo para subir imagen si el anuncio es de tipo texto e imagen -->
      <div *ngIf="anuncioForm.get('selectedAnuncio')?.value?.tipoAnuncio === 'IMAGEN_TEXTO'" class="form-group">
        <label for="textoAnuncio" class="font-weight-bold">Escribe tu anuncio:</label>
        <textarea id="textoAnuncio" class="form-control" formControlName="textoAnuncio"></textarea>

        <label for="archivoAnuncio" class="font-weight-bold">Sube tu imagen:</label>
        <input id="archivoAnuncio" type="file" class="form-control" (change)="onFileSelected($event)" accept="image/*">
      </div>

      <!-- Mostrar el precio por día al seleccionar un tipo de anuncio -->
      <div *ngIf="anuncioForm.get('selectedAnuncio')?.value" class="mt-3 text-center">
        <h4 class="text-info">Precio del Anuncio: Q {{ anuncioForm.get('selectedAnuncio')?.value.precio }} , Costo por
          dia: Q {{ anuncioForm.get('selectedAnuncio')?.value.tiempoDuracion }}</h4>
      </div>

      <!-- Opciones rápidas de días -->
      <div class="form-group">
        <label for="diasRapidos" class="font-weight-bold">Selecciona una opción rápida:</label>
        <div id="diasRapidos">
          <button class="btn btn-outline-primary" (click)="seleccionarDias(7)">1 Semana (7 días)</button>
          <button class="btn btn-outline-primary" (click)="seleccionarDias(14)">2 Semanas (14 días)</button>
          <button class="btn btn-outline-primary" (click)="seleccionarDias(3)">3 Días</button>
          <button class="btn btn-outline-primary" (click)="seleccionarDias(1)">1 Día</button>
        </div>
      </div>

      <!-- Ingreso de los días específicos -->
      <div class="form-group">
        <label for="dias" class="font-weight-bold">O ingresa días específicos:</label>
        <input id="dias" type="number" class="form-control" formControlName="diasDeseados" />
      </div>

      <!-- Ingreso de la fecha específica -->
      <div class="form-group">
        <label for="fechaAnuncio" class="font-weight-bold">Selecciona la fecha:</label>
        <input id="fechaAnuncio" type="date" class="form-control" formControlName="fechaAnuncio" />
      </div>


      <!-- Mostrar el precio total -->
      <div *ngIf="anuncioForm.get('precioTotal')?.value !== null">
        <h3 class="text-success">Precio total: {{ anuncioForm.get('precioTotal')?.value | currency: ' Q' }}</h3>
      </div>
      <div class="text-center">
        <button class="btn btn-success mt-3" (click)="realizarCompra()">Comprar</button>
      </div>

    </form>
  </div>
</div>