<div class="modal fade" id="mimodal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> <!-- Clase para centrar el modal -->
    <div class="modal-content bg-dark text-white"> <!-- Fondo oscuro y texto blanco -->
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">{{ titulo }}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModal()"></button> <!-- Botón de cerrar en blanco -->
      </div>
      <div class="modal-body">
        {{ mensaje }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-dark" data-bs-dismiss="modal" (click)="cerrarModal()">{{ botonCerrar }}</button> <!-- Botón oscuro -->
      </div>
    </div>
  </div>
</div>
