<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 22rem;">
        <h2 class="text-center mb-4">Registro</h2>

        <form id="registroForm" [formGroup]="registroForm" (ngSubmit)="registrarUsuario()">
            <div class="mb-3">
                <label for="nombreUsuario" class="form-label">Nombre de usuario</label>
                <input type="text" id="nombreUsuario" class="form-control" formControlName="nombreUsuario"
                    placeholder="Maximo 15 caracteres" required>
                <div *ngIf="registroForm.get('nombreUsuario')?.invalid && registroForm.get('nombreUsuario')?.touched"
                    class="text-danger">
                    El nombre de usuario es requerido.
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input [type]="mostrarPassword ? 'text' : 'password'" id="password" class="form-control"
                    formControlName="password" placeholder="Ingresa tu contraseña" required>
                <button type="button"
                    class="btn btn-outline-secondary btn-sm position-absolute top-50 end-0 translate-middle-y me-2"
                    (click)="mostrarPassword = !mostrarPassword" tabindex="-1">
                    <i [ngClass]="mostrarPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                </button>
                <div *ngIf="registroForm.get('password')?.invalid && registroForm.get('password')?.touched"
                    class="text-danger">
                    La contraseña es requerida.
                </div>
            </div>
            <div class="mb-3">
                <label for="nombreCompleto" class="form-label">Nombre Completo</label>
                <input type="text" id="nombreCompleto" class="form-control" formControlName="nombreCompleto"
                    placeholder="Ingresa tu nombre completo sin espacios" required>
                <div *ngIf="registroForm.get('nombreCompleto')?.invalid && registroForm.get('nombreCompleto')?.touched"
                    class="text-danger">
                    El nombre completo es requerido y deben de ser letras sin espacios.
                </div>
            </div>
            <div class="mb-3">
                <label for="rol" class="form-label">Rol</label>
                <select id="rol" class="form-select" formControlName="rol" required>
                    <option value="">Seleccione un rol</option>
                    <option value="COMPRADOR">Comprador</option>
                    <option value="EDITOR">Editor</option>
                    <option value="SUSCRIPTOR">Suscriptor</option>
                </select>
                <div *ngIf="registroForm.get('rol')?.invalid && registroForm.get('rol')?.touched" class="text-danger">
                    Seleccione un rol.
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="registroForm.invalid">Registrarse</button>
        </form>
    </div>
</div>