<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">
<div class="container d-flex justify-content-center align-items-center vh-100">

    <div class="card p-4 shadow-lg" style="width: 22rem;">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>
        <form id="loginForm" [formGroup]="loginForm"  (ngSubmit)="iniciarSesion()">
            <div class="mb-3">
            <label for="nombreUsuario" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="nombreUsuario" formControlName="nombreUsuario" placeholder="Ingresa tu nombre de usuario" required>
            </div>
            <div class="mb-3 position-relative">
                <label for="password" class="form-label">Contraseña</label>
                <input [type]="mostrarPassword ? 'text' : 'password'" 
                       class="form-control" 
                       id="password" 
                       formControlName="password" 
                       placeholder="Ingresa tu contraseña" 
                       required>
                <button type="button" class="btn btn-outline-secondary btn-sm position-absolute top-50 end-0 translate-middle-y me-2" 
                        (click)="mostrarPassword = !mostrarPassword" 
                        tabindex="-1">
                    <i [ngClass]="mostrarPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                </button>
            </div>
            
            <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </div>
        </form>
    </div>
</div>
