<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm p-3 mb-5 rounded">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-light" routerLink="/suscriptor-control/">
      <i class="bi bi-book"></i> Revistas
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-light fw-semibold" routerLink="/suscriptor-control/navegacionRevistas">
            <i class="bi bi-search"></i> Navegar por Revistas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light fw-semibold" routerLink="/suscriptor-control/misSuscripciones">
            <i class="bi bi-bookmark-heart"></i> Mis Suscripciones
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/suscriptor-control/perfil-usuario">
            <i class="bi bi-journal"></i>  Ver Perfil
          </a>
        </li>
        <div class="d-flex align-items-center text-white text-decoration-none">
          <app-cerrar-sesion></app-cerrar-sesion>
        </div>
      </ul>
    </div>
  </div>
</nav>

 <!-- AREA DE BARRAS LATERALES -->

<div class="container-fluid mt-3">

  <div class="row">
    <div class="col-md-2">
      <app-barra-lateral-anuncio></app-barra-lateral-anuncio>
    </div>

    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>

    <div class="col-md-2">
      <app-barra-lateral-anuncio></app-barra-lateral-anuncio>
    </div>
  </div>
  
</div>
